.modal-content {
    .rocket-image {
        text-align: center;
        img {
            width: 80%;
            
        }
    }
    .start-btn {
        text-align: center;
        padding: 5px 10px;
        margin-top: 15px;
    }
}