{
	"extends": ["airbnb", "prettier", "react-app"],
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"plugins": ["import", "react", "prettier", "react-hooks", "jsx-a11y"],
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"rules": {
		"no-console": "off",
		"comma-dangle": "off",
		"no-nested-ternary": "off",
		"no-use-before-define": "off",
		"radix": "off",
		"consistent-return": "off",
		"no-param-reassign": [
			"error",
			{
				"props": false
			}
		],
		"arrow-parens": ["error", "as-needed"],
		"no-underscore-dangle": "off",
		"func-names": "off",
		"object-shorthand": ["error", "always"],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		"no-tabs": [
			"error",
			{
				"allowIndentationTabs": true
			}
		],
		"max-len": [
			"error",
			{
				"code": 180
			}
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"camelcase": "off",
		"class-methods-use-this": "off",
		"no-unused-vars": "off",
		"no-extra-parens": "off",
		"no-case-declarations": "off",
		"linebreak-style": ["error", "unix"],
		"semi": ["error", "never"],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true,
				"avoidEscape": false
			}
		],
		"prefer-const": [
			"error",
			{
				"destructuring": "all",
				"ignoreReadBeforeAssign": false
			}
		],
		"prefer-destructuring": [
			"error",
			{
				"VariableDeclarator": {
					"array": true,
					"object": true
				},
				"AssignmentExpression": {
					"array": false,
					"object": true
				}
			},
			{ "enforceForRenamedProperties": false }
		],
		"import/extensions": ["error", "never"],
		"import/no-extraneous-dependencies": "off",
		"import/prefer-default-export": "off",
		"import/no-unresolved": "error",
		"react/destructuring-assignment": "off",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js"]
			}
		],
		"react/jsx-wrap-multilines": [
			"error",
			{
				"prop": "ignore"
			}
		],
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-curly-spacing": [
			2,
			{
				"when": "never",
				"attributes": {
					"allowMultiline": true
				},
				"children": true
			}
		],
		"react/jsx-indent": [2, "tab"],
		"react/forbid-prop-types": "off",
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"react/jsx-indent-props": [2, "tab"],
		"prettier/prettier": "error"
	}
}
