
.color-soft-black {
    color: #9fa9ba;
}
  
.color-white {
    color: white;
}
  
.color-dark-green {
    color: #3aa3ae;
}
  
.color-black {
    color: black;
}
  
.color-grey-black {
    color: #4a4a4a;
}
  
.color-soft-blue {
    color: #dfe7f6;
}
  
.color-dark-blue {
    color: #253858;
}

.color-sky-blue {
    color: #4a90e2;
}

.color-payment-leftpart-text {
    color: black;
}

.bgcolor-white {
    background-color: white;
}
  
.bgcolor-dark-green {
    background-color: #3aa3ae;
}
  
.bgcolor-soft-blue {
    background-color: #dfe7f6;
}
  
.bgcolor-soft-yellow {
    background-color: #f3f3db;
}

.bgcolor-dark-blue {
    background-color: #253858;
}

.bgcolor-payment-leftpart {
    background-color: #e8f3f8;
}

.bgcolor-mid-grey {
    background-color: #9fa9ba;
}

.bgcolor-mid-soft-blue {
    background-color: #4a90e2;
}